<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Evita escala zoom -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- link a materialize -->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <!-- link a icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- link de googlefonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Acme|Righteous" rel="stylesheet"> -->
    <!-- link para ícono que va en pestaña superior  -->
     <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/icons/favicon/"> -->
     <!-- link main CSS -->
     <link rel="stylesheet" href="../css/main.css">
     <!-- Título de pestaña -->
     <title>Flash bitácora</title>
  </head>
  <body>
    <header>
      <nav>

      </nav>

    </header>

    <main>
      <section>
          
      </section>

      <section>
        <div class="fixed-action-btn horizontal">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
          </a>
          <ul>
            <li id="message"><a class="btn-floating red btn modal-trigger" href="#msg-modal"><i class="material-icons">message</i></a></li>
            <li id="media"><a class="btn-floating yellow darken-1"><i class="material-icons">perm_media</i></a></li>
            <li id="calendar"><a class="btn-floating green"><i class="material-icons">event</i></a></li>
            <li id="video"><a class="btn-floating blue"><i class="material-icons">video_library</i></a></li>
          </ul>
        </div>
      </section>

    </main>

    sección de modales
    <!-- Modal Structure -->
    <div id="msg-modal" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    <footer>
      <p class="text-center">Copyright&copy;</p>
    </footer>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!-- JS de materialize -->
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../vendors/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="../js/modal-materialize.js"></script>
    <!-- JS de proyecto -->
    <script src="../js/home.js"></script>
  </body>
</html>
